<script>
    // Espera a que toda la página se cargue
    window.addEventListener('DOMContentLoaded', (event) => {
        // Selecciona el header
        let header = document.querySelector('.header');

        // Si el header no existe, no hace nada
        if (!header) {
            return;
        }

        // Guarda la posición original del header
        let headerOffset = header.offsetTop;

        // Esta función se ejecutará cada vez que el usuario haga scroll
        window.onscroll = function() {
            // Comprueba si el scroll ha pasado la posición original del header
            if (window.pageYOffset > headerOffset) {
                // Si ha pasado, añade la clase "sticky"
                header.classList.add("sticky");
            } else {
                // Si no, quita la clase "sticky"
                header.classList.remove("sticky");
            }
        };
    });
</script>
