{{ define "main" }}

{{/* --- INICIO DE INYECCIÓN DE ESTILOS --- */}}
<style>
    /* Oculta los enlaces de anclaje (#) de los encabezados en esta página. */
    .page-content h2 .anchor {
        display: none;
    }
</style>
{{/* --- FIN DE INYECCIÓN DE ESTILOS --- */}}

<main class="main">
  <article class="page-single">
    <header class="page-header">
      <h1 class="page-title">{{ .Title }}</h1>
      {{ if .Description }}
      <div class="page-description">{{ .Description }}</div>
      {{ end }}
    </header>
    <div class="page-content">
      {{ .Content }}
    </div>
  </article>
</main>
{{ end }}
