<div class="recent-posts-container">
  <ul class="recent-posts-list">
    {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}

    {{- /* --- ESTA ES LA ÚNICA LÍNEA QUE CAMBIA --- */ -}}
    {{- /* Se ha añadido ".ByDate.Reverse" para ordenar las páginas por fecha descendente ANTES de tomar las 5 primeras. */ -}}
    {{- range first 5 ($pages.ByDate.Reverse) -}}

      <li class="recent-post-item">
        <a href="{{ .Permalink }}">
          <span class="recent-post-title">{{ .Title }}</span>
          <span class="recent-post-date">{{ .Date.Format (.Site.Params.DateFormat | default "2 Jan, 2006") }}</span>
        </a>
      </li>
    {{- end -}}
  </ul>
</div>
